<!DOCTYPE html>
<html>
    <body>
        <!--{{ form.open() }}-->
        <!--{{ form.username.render_with_label() }}-->
        <!--{{ form.password.render_with_label() }}-->
        <!--{{ form.submit }}-->
        <!--{{ form.close() }}-->
    123
    </body>
</html>


<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Watson!</title>
    </head>
    <body>
        <h1>{{ content }}</h1>
        <p>BPM page</p>
        <p>Read more about Watson in <a href="http://watson-framework.readthedocs.org/">the documentation.</a>
    </body>
</html>
