<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rheumatoid net</title>

    <!-- Bootstrap core CSS -->
    <link href="startbootstrap-bare-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }
        
        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Rheumatoid Monitor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Welcome to Rheumatoid Net</h1>
                <div class="col-lg-12 text-center">
                    <form role="form" action="/signUp" method="get">

                        <div class="form-group">
                            <label>Enter user name</label>
                            <input class="form-control" placeholder="Enter user name" name='userName'>
                        </div>
                        <div class="form-group">
                            <label>Enter password</label>
                            <input class="form-control" placeholder="Enter password" name='pass'>
                        </div>
                        <div class="form-group">
                            <label>Enter nick name</label>
                            <input class="form-control" placeholder="Enter nick name" name='userNicname'>
                        </div>
                        <div class="form-group">
                            <label>Enter email</label>
                            <input class="form-control" placeholder="Enter email" name='email'>
                        </div>
                        <div class="form-group">
                            <label>Enter age</label>
                            <input class="form-control" placeholder="Enter age" name='userAge'>
                        </div>
                        <div class="form-group">
                            <label>Enter age suffered from Rheumatoid</label>
                            <input class="form-control" placeholder="Enter age suffered from Rheumatoid" name='rheumatoidAge'>
                        </div>
                        <div class="form-group">
                            <label>Enter city</label>
                            <input class="form-control" placeholder="Enter city" name='city'>
                        </div>
                        <div class="form-group">
                            <label>Device Name</label>
                            <input class="form-control" placeholder="Device Name" name='dName'>
                        </div>
                        <div class="form-group">
                            <label>Enter device ID</label>
                            <input class="form-control" placeholder="Enter device ID" name='dID'>
                        </div>

                        <div class="form-group">
                            <label>Enter device description</label>
                            <input class="form-control" placeholder="Enter device description" name='dd'>
                        </div>

                        <a href="/login" class="btn btn-default">Login</a>
                        <button type="submit" class="btn btn-default">Sign up</button>
                        <button type="reset" class="btn btn-link">Reset</button>
                    </form>
                </div>
                <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
                <ul class="list-unstyled">
                    <li>Bootstrap 4.0.0-beta</li>
                    <li>jQuery 3.2.1</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="startbootstrap-bare-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="startbootstrap-bare-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>